In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
dataset=pd.read_csv('aqi.csv')
df=pd.DataFrame(dataset)
df.rename(columns={"Mounths":"Months"},inplace=True)
df.rename(columns={"PM10 in æg/m3":"PM10"},inplace=True)
df.rename(columns={"SO2 in æg/m3":"SO2"},inplace=True)
df.rename(columns={"NOx  in æg/m3":"NOx"},inplace=True)
df.rename(columns={" PM2.5  in æg/m3":"PM2.5"},inplace=True)
df.rename(columns={"Ammonia - NH3  in æg/m3":"Ammonia"},inplace=True)
df.rename(columns={"O3   in æg/m3":"O3"},inplace=True)
df.rename(columns={"CO  in mg/m3":"CO"},inplace=True)
df.rename(columns={" Benzene  in æg/m3":"Benzene"},inplace=True)

In [3]:
print("Printing first 10 rows of the dataset:-\n")
print(df.head(10))

Printing first 10 rows of the dataset:-

   Id  Months   PM10   SO2   NOx  PM2.5  Ammonia     O3   CO  Benzene    AQI
0   1  Jan-17  174.0  26.4  35.0     79     25.0  107.6  0.9      0.7  149.0
1   2  Feb-17  143.0  35.1  40.3     75     31.0  103.0  0.9      0.9  129.0
2   3  Mar-17  142.0  32.1  30.9     59     26.0   80.7  0.8      0.5  128.0
3   4  Apr-17  117.0  50.9  36.3     75     36.0   79.5  0.9      0.7  111.0
4   5  May-17    NaN  41.6  25.2     53     28.0   70.0  0.5      0.5    NaN
5   6  Jun-17    NaN  35.5  21.2     25     26.0   38.8  0.3      0.6    NaN
6   7  Jul-17  111.0  38.9  21.5     29     30.0   24.4  0.3      0.7  106.7
7   8  Aug-17   78.0  36.0  18.4     35     23.0   22.5  0.4      0.5   78.3
8   9  Sep-17   86.0  30.0  22.3     39     20.0   35.2  0.4      0.4   86.0
9  10  Oct-17  146.0  37.1  32.6     63     23.0   52.8  0.6      0.5  130.0

In [4]:
print('*'*50)
print("Identifying NULL values in the dataset:-\n")
print(df.isnull()) 
print('*'*50)

**************************************************
Identifying NULL values in the dataset:-

       Id  Months   PM10    SO2    NOx  PM2.5  Ammonia     O3     CO  Benzene  \
0   False   False  False  False  False  False    False  False  False    False
1   False   False  False  False  False  False    False  False  False    False
2   False   False  False  False  False  False    False  False  False    False
3   False   False  False  False  False  False    False  False  False    False
4   False   False   True  False  False  False    False  False  False    False
..    ...     ...    ...    ...    ...    ...      ...    ...    ...      ...
67  False   False  False  False  False  False    False  False  False    False
68  False   False  False  False  False  False    False  False  False    False
69  False   False  False  False  False  False    False  False  False    False
70  False   False  False  False  False  False    False  False  False    False
71  False   False  False  False  False  False    False  False  False    False

      AQI
0   False
1   False
2   False
3   False
4    True
..    ...
67  False
68  False
69  False
70  False
71  False

[72 rows x 11 columns]
**************************************************

In [5]:
print('*'*50)
print("Describing the dataset:-\n")
print(df.describe())

**************************************************
Describing the dataset:-

             Id        PM10        SO2        NOx      PM2.5    Ammonia  \
count  72.00000   66.000000  71.000000  70.000000  72.000000  72.000000
mean   36.50000  109.393939  16.650704  30.171429  46.722222  23.997222
std    20.92845   25.271376   9.783746   4.150088  20.224251   5.824450
min     1.00000   76.000000   4.000000  18.400000  12.000000  11.000000
25%    18.75000   90.000000   9.900000  28.025000  27.000000  20.000000
50%    36.50000  104.000000  14.000000  29.700000  47.000000  23.000000
75%    54.25000  128.000000  19.200000  32.550000  63.000000  28.000000
max    72.00000  178.000000  50.900000  40.300000  87.000000  37.000000

               O3         CO   Benzene         AQI
count   72.000000  72.000000  72.00000   67.000000
mean    27.790278   0.549722   0.22500  105.571642
std     22.585906   0.238764   0.19307   22.762574
min      2.400000   0.200000   0.00000   58.000000
25%     12.475000   0.400000   0.10000   91.300000
50%     20.750000   0.500000   0.20000  103.500000
75%     35.550000   0.647500   0.30000  119.500000
max    107.600000   1.520000   0.90000  166.000000

In [6]:
print('*'*50)
print("Datatypes of the datasets:-\n")
print(df.dtypes)

**************************************************
Datatypes of the datasets:-

Id           int64
Months      object
PM10       float64
SO2        float64
NOx        float64
PM2.5        int64
Ammonia    float64
O3         float64
CO         float64
Benzene    float64
AQI        float64
dtype: object

In [7]:
print('*'*50)
print("Total no. of rows and columns :-\n")
print(df.shape)

**************************************************
Total no. of rows and columns :-

(72, 11)

In [8]:
print('*'*50)
print("Total no. of elements in dataset:-\n")
print(df.size)

**************************************************
Total no. of elements in dataset:-

792

In [9]:
print('*'*50,'\n')
print('\nTotal no. of Null Values in PM10 in æg/m3 :-\n')
cnt=df['PM10'].isna().sum()
print(cnt)

**************************************************


Total no. of Null Values in PM10 in æg/m3 :-

6

In [10]:
print('*'*50)
df['PM10'].fillna(df['PM10'].mean(), inplace=True)
print('\nFilling the NULL values in PM10 in æg/m3 :-\n')
print(df['PM10'])

**************************************************

Filling the NULL values in PM10 in æg/m3 :-

0     174.000000
1     143.000000
2     142.000000
3     117.000000
4     109.393939
         ...
67     89.000000
68     92.000000
69     93.000000
70     87.000000
71     88.000000
Name: PM10, Length: 72, dtype: float64

In [11]:
print('*'*50)
print('\nFilling the NULL values in SO2 in æg/m3 :-\n')
df['SO2'].fillna(df['SO2'].mean(),inplace=True)
print(df['SO2'])

**************************************************

Filling the NULL values in SO2 in æg/m3 :-

0     26.4
1     35.1
2     32.1
3     50.9
4     41.6
      ...
67    12.0
68    13.0
69    12.0
70    10.4
71    13.0
Name: SO2, Length: 72, dtype: float64

In [12]:
print('*'*50)
print('\nFilling the NULL values in NOx  in æg/m3 :-\n')
df['NOx'].fillna(df['NOx'].mean(),inplace=True)
print(df['NOx'])

**************************************************

Filling the NULL values in NOx  in æg/m3 :-

0     35.0
1     40.3
2     30.9
3     36.3
4     25.2
      ...
67    35.0
68    37.3
69    30.7
70    28.2
71    34.5
Name: NOx, Length: 72, dtype: float64

In [13]:
print('*'*50)
print('\nFilling the NULL values in AQI :-\n')
df['AQI'].fillna(df['AQI'].mean(),inplace=True)
print(df['AQI'])

**************************************************

Filling the NULL values in AQI :-

0     149.000000
1     129.000000
2     128.000000
3     111.000000
4     105.571642
         ...
67     67.000000
68     76.000000
69    101.000000
70    166.000000
71    162.000000
Name: AQI, Length: 72, dtype: float64

In [14]:
print('*'*50)
print('Total no. of Duplicate Rows : ')
df.duplicated().sum()

**************************************************
Total no. of Duplicate Rows :

0

In [15]:
print('*'*50)
df.isna().sum()

**************************************************

Id         0
Months     0
PM10       0
SO2        0
NOx        0
PM2.5      0
Ammonia    0
O3         0
CO         0
Benzene    0
AQI        0
dtype: int64

In [16]:
print('*'*50)
df['NOx'].fillna(df['NOx'].mode()[0],inplace=True)
print(df['NOx'].isna().sum())

**************************************************
0

In [17]:
print('*'*50)
df['AQI'].fillna(df['AQI'].mode()[0],inplace=True)
print(df['AQI'].isna().sum())

**************************************************
0

In [18]:
print('*'*50)
df.isna().sum()

**************************************************

Id         0
Months     0
PM10       0
SO2        0
NOx        0
PM2.5      0
Ammonia    0
O3         0
CO         0
Benzene    0
AQI        0
dtype: int64

In [19]:
print("Printing first 10 rows of the dataset:-\n")
print(df.head(10))

Printing first 10 rows of the dataset:-

   Id  Months        PM10   SO2   NOx  PM2.5  Ammonia     O3   CO  Benzene  \
0   1  Jan-17  174.000000  26.4  35.0     79     25.0  107.6  0.9      0.7
1   2  Feb-17  143.000000  35.1  40.3     75     31.0  103.0  0.9      0.9
2   3  Mar-17  142.000000  32.1  30.9     59     26.0   80.7  0.8      0.5
3   4  Apr-17  117.000000  50.9  36.3     75     36.0   79.5  0.9      0.7
4   5  May-17  109.393939  41.6  25.2     53     28.0   70.0  0.5      0.5
5   6  Jun-17  109.393939  35.5  21.2     25     26.0   38.8  0.3      0.6
6   7  Jul-17  111.000000  38.9  21.5     29     30.0   24.4  0.3      0.7
7   8  Aug-17   78.000000  36.0  18.4     35     23.0   22.5  0.4      0.5
8   9  Sep-17   86.000000  30.0  22.3     39     20.0   35.2  0.4      0.4
9  10  Oct-17  146.000000  37.1  32.6     63     23.0   52.8  0.6      0.5

          AQI
0  149.000000
1  129.000000
2  128.000000
3  111.000000
4  105.571642
5  105.571642
6  106.700000
7   78.300000
8   86.000000
9  130.000000

In [20]:
print('*'*50)
print('Total no. of Duplicate Rows : ')
df.duplicated().sum()

**************************************************
Total no. of Duplicate Rows :

0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       72 non-null     int64
 1   Months   72 non-null     object
 2   PM10     72 non-null     float64
 3   SO2      72 non-null     float64
 4   NOx      72 non-null     float64
 5   PM2.5    72 non-null     int64
 6   Ammonia  72 non-null     float64
 7   O3       72 non-null     float64
 8   CO       72 non-null     float64
 9   Benzene  72 non-null     float64
 10  AQI      72 non-null     float64
dtypes: float64(8), int64(2), object(1)
memory usage: 6.3+ KB

In [22]:
df = df.drop("Id", axis = 1)
df.head()

,Months,PM10,SO2,NOx,PM2.5,Ammonia,O3,CO,Benzene,AQI
0,Jan-17,174.000000,26.4,35.0,79,25.0,107.6,0.9,0.7,149.000000
1,Feb-17,143.000000,35.1,40.3,75,31.0,103.0,0.9,0.9,129.000000
2,Mar-17,142.000000,32.1,30.9,59,26.0,80.7,0.8,0.5,128.000000
3,Apr-17,117.000000,50.9,36.3,75,36.0,79.5,0.9,0.7,111.000000
4,May-17,109.393939,41.6,25.2,53,28.0,70.0,0.5,0.5,105.571642

In [23]:
df[['month', 'year']] = df['Months'].str.split("-", expand = True)
df.head()

,Months,PM10,SO2,NOx,PM2.5,Ammonia,O3,CO,Benzene,AQI,month,year
0,Jan-17,174.000000,26.4,35.0,79,25.0,107.6,0.9,0.7,149.000000,Jan,17
1,Feb-17,143.000000,35.1,40.3,75,31.0,103.0,0.9,0.9,129.000000,Feb,17
2,Mar-17,142.000000,32.1,30.9,59,26.0,80.7,0.8,0.5,128.000000,Mar,17
3,Apr-17,117.000000,50.9,36.3,75,36.0,79.5,0.9,0.7,111.000000,Apr,17
4,May-17,109.393939,41.6,25.2,53,28.0,70.0,0.5,0.5,105.571642,May,17

In [24]:
df.select_dtypes(exclude='object').dtypes

PM10       float64
SO2        float64
NOx        float64
PM2.5        int64
Ammonia    float64
O3         float64
CO         float64
Benzene    float64
AQI        float64
dtype: object

In [25]:
df.select_dtypes(include='object').dtypes

Months    object
month     object
year      object
dtype: object